.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header {
  width:100%;
  height: 100px;
  padding: 50px auto;
  font-weight: 900;
  font: 50px Fantasy; /* works */
text-align:inherit;
font-size: 4.8rem !important;
    line-height: 5.4rem !important;
}

body {
    width:100%;
    height:100%;
    background:#5F8476;
    padding:0;
    margin:0;
    font-size:10px;
    font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}
/* .mapdiv{
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('./officemap.jpg');
} */

.App-link {
  color: #61dafb;
}

html, body {
  width: 100%;
  height: auto;
}

#employeesWrapper {
  width: 20%;
}

#canvasWrapper img {
  width:  80%;
  height: 70%;
}

#canvasWrapper {
  width: 80%;
}

#mapWrapper {
  width: 80%;
}

button {
  color: #0E13B5;
  background-color: #5F8476;
  font-weight: bold;
  font: italic 20px Serif; /* works */
  font: 20px Fantasy; /* works */
  text-align: left;
}

.App{
  background-color: #5F8476;
  font-weight: bold;
  font: italic 20px Serif; /* works */
  font: 30px Fantasy; /* works */
}

.emp-hidden {
  display:none;
}
