.App {
  text-align: center;
}

.hidden {
  display: none;
}
/* .mapdiv{
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('./officemap.jpg');
} */

.App-link {
  color: #61dafb;
}
